[submodule "content"]
	path = content
	url = git@github.com:plackyfantacky/adamtrickett.com-content.git
[submodule "src/lib/arrow-cloud"]
	path = src/lib/arrow-cloud
	url = https://github.com/plackyfantacky/arrow-cloud-prototype.git
