---
import ArrowCloud from "../ArrowCloudHero.astro";
import { render } from 'astro:content';

const { entry } = Astro.props;
const { Content } = await render(entry);

const {
    label,
    heading
} = entry.data;
---

<section class="home-hero" aria-labelledby="home-hero-title">
    <ArrowCloud />
    <div class="home-hero__content">
        { label && (
            <p class="home-hero__label">{label}</p>
        )}
        { heading && (
            <h1 id="home-hero-title">{heading}</h1>
        )}

        <p class="home-hero__scroll-cue" aria-hidden="true">
            Scroll
        </p>
    </div>
</section>