---

---
<section class="arrow-cloud">
    <div class="arrow-cloud__canvas" data-arrow-cloud></div>
</section>
<script>
    import "../lib/arrow-cloud/main.js";
</script>
<style>
    .arrow-cloud {
        position: relative;
        min-height: 100vh;
        overflow: hidden;
    }

    .arrow-cloud__canvas {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
    }

    .arrow-cloud__canvas canvas {
        display: block;
        width: 100%;
        height: 100%;
    }
</style>