<footer>
    <div>
        <p>Site and original content: Copyright © [year] Adam Trickett</p>
        <p>3rd party content copyright belongs to their respective owners</p>
    </div>
    <div>

    </div>
    <div>
        
    </div>
</footer>